<%= content_for(:title, "User Detail") %>

<h2> <%= @user.name %> </h2>

 <% @user.photos.each do |photo| %>
    <%= link_to image_tag(photo.image.url(:medium)), user_photo_path(@user, photo) %></br>
	<p><%= photo.description %></p></br>
	</br>
  <% end %>

<% if @user == current_user %>
  <% if @favorites.count >= 1  %> 
    <h3>My Favorites: </h3>
       <% @favorites.each do |favorite| %>
         <%= image_tag(favorite.photo.image.url(:medium)) %></br>
          </br>
        <% end %>
   <% end %>

   <% if @user.tags.count >= 1 %>
      <h3>Photos People Have Tagged Me In: </h3>
       <% @user.tags.each do |tag| %> <%#note: "tags" can be done in more straightforward way that "favorites have been done" (defining @tags in the users controller show action). Here, a separate method in the Tag model is used, to show different ways of approaching. %>
         <%= link_to image_tag(tag.show_photo.image.url(:medium)), user_photo_path(@user, tag.show_photo) %></br>
          <%= tag.show_photo.description %></br>
        <% end %>
   <% end %>

  <% if @favorites.count >= 1  %> 
    <h3> Photos We Recommend You Check Out (other users with similar tastes favorited these): </h3>
       <% @user.recommend_photos.each do |recommend| %>
           <%= image_tag(recommend.image.url(:medium)) %></br>
           <%= recommend.description %></br>
      <% end %>
  <% end %>
  
<% end %>
</br>
</br>
<%= link_to "Post a New Photo", new_user_photo_path(@user), :class => "btn btn-default" %>
</br>
</br>

<%= link_to "Home Page", root_path, :class => "btn btn-default" %>