<h2> <%= @user.name %> </h2>

 <% @user.photos.each do |photo| %>
    <%= link_to image_tag(photo.image.url(:medium)), user_photo_path(@user, photo) %></br>
	<p><%= photo.description %></p></br>
	</br>
  <% end %>

<% if @user == current_user %>
  <h3>Photos People Have Tagged Me In: </h3>
     <% @user.tags.each do |tag| %>
       <%= link_to image_tag(tag.show_photo.image.url(:medium)), user_photo_path(@user, tag.show_photo) %></br>
        <%= tag.show_photo.description %></br>
      <% end %>
  
<% end %>
</br>
</br>
<%= link_to "Post a New Photo", new_user_photo_path(@user), :class => "btn btn-default" %>
</br>
</br>

<%= link_to "Home Page", root_path, :class => "btn btn-default" %>